@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: Montserrat;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #18181b;
}

.body__header {
  color: white;
  padding: 1rem 1rem;
}
.body__header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.body__header .header__nav .nav__logo span {
  color: #DC143C;
}
.body__header .header__nav .nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.body__header .header__nav .nav__list .el__link {
  color: white;
  position: relative;
  padding-bottom: 0.75rem;
  transition: all 0.3s ease;
}
.body__header .header__nav .nav__list .el__link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #DC143C;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;
}
.body__header .header__nav .nav__list .el__link:hover::after {
  width: 100%;
}
.body__header .header__nav .nav__list .el__link:hover {
  color: #DC143C;
}
.body__header .header__nav .nav__list i {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.body__header .header__nav .nav__list i:hover {
  color: #DC143C;
}

.menu_small_icon {
  display: none;
}
.menu_small_icon .stick {
  width: 80%;
  height: 5px;
  background: #DC143C;
  border-radius: 5px;
}

.body__about {
  margin-top: 7rem;
}
.body__about .about__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  gap: 4rem;
}
.body__about .about__container img {
  border-radius: 250px;
  border: 3px solid #DC143C;
  width: 500px;
  height: 500px;
}
.body__about .about__container .about__pros {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.body__about .about__container .about__pros .light {
  position: absolute;
  box-shadow: 0 0 1000px 50px #DC143C;
  right: 700px;
  z-index: -100;
}
.body__about .about__container .about__pros .pros__subtitle {
  color: white;
  font-size: 3rem;
}
.body__about .about__container .about__pros .pros__subtitle span {
  color: #DC143C;
  text-transform: uppercase;
}
.body__about .about__container .about__pros .pros__text {
  color: white;
  font-size: 1.5rem;
}
.body__about .about__container .about__pros .pros__text span {
  color: #DC143C;
}
.body__about .about__container .about__pros .pros__text2 {
  color: white;
  font-size: 0.9rem;
}
.body__about .about__container .about__pros .pros__btn {
  cursor: pointer;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  padding: 1rem 1rem;
  width: 200px;
  border: 1px solid #DC143C;
  border-radius: 4px;
  background-color: #18181b;
  transition: all 0.3s ease;
  text-align: center;
}
.body__about .about__container .about__pros .pros__btn:hover {
  background-color: #DC143C;
}

.body__deal {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 10rem;
}
.body__deal .deal__subtitle {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.body__deal .futures {
  margin-top: 3rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
}
.body__deal .futures .card {
  cursor: pointer;
  line-height: 2rem;
  color: white;
  background-color: #282828;
  width: 70%;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.body__deal .futures .card .card__link {
  color: #DC143C;
  transition: all 0.5s ease;
}
.body__deal .futures .card .card__link:hover {
  color: #800000;
}
.body__deal .futures .card i {
  color: #DC143C;
}
.body__deal .futures .card .ri-mail-line {
  font-size: 30px;
}
.body__deal .futures .card:hover {
  border: 2px solid white;
}

.body__dit {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 10rem;
}
.body__dit .dit__subtitle {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.body__dit .dit__comm {
  margin-top: 3rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}
.body__dit .dit__comm .comm {
  cursor: pointer;
  line-height: 2rem;
  color: white;
  background-color: #282828;
  width: 70%;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  text-align: center;
}
.body__dit .dit__comm .comm .comm__subtitle1 {
  color: white;
}
.body__dit .dit__comm .comm .comm__subtitle1 span {
  color: #DC143C;
}
.body__dit .dit__comm .comm .comm__subtitle2 {
  color: white;
}
.body__dit .dit__comm .comm .comm__subtitle2 span {
  color: #DC143C;
}
.body__dit .dit__comm .comm i {
  color: #DC143C;
  font-size: 2rem;
}
.body__dit .dit__comm .comm a {
  color: #DC143C;
  transition: all 0.4s ease;
}
.body__dit .dit__comm .comm a i {
  font-size: 1rem;
}
.body__dit .dit__comm .comm a:hover {
  color: #800000;
}
.body__dit .dit__comm .comm:hover {
  border: 2px solid white;
}

.body__footer {
  border-top: 1px solid #ccc;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 15rem;
}
.body__footer .footer__column {
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid #ccc;
}
.body__footer .footer__column .column__subtitle {
  cursor: pointer;
  font-size: 3rem;
  color: white;
  width: 10%;
  transition: all 0.3s ease;
}
.body__footer .footer__column .column__subtitle span {
  color: #DC143C;
  transition: all 0.3s ease;
}
.body__footer .footer__column .column__subtitle:hover {
  color: #DC143C;
}
.body__footer .footer__column .column__subtitle:hover span {
  color: white;
}
.body__footer .footer__column .column__link {
  font-size: 1rem;
  color: white;
  transition: all 0.5s ease;
  width: 5%;
}
.body__footer .footer__column .column__link:hover {
  color: #DC143C;
}
.body__footer .footer__column .column__socials {
  display: flex;
  gap: 1.25rem;
}
.body__footer .footer__column .column__socials i {
  cursor: pointer;
  font-size: 3rem;
  color: white;
  transition: all 0.5s ease;
}
.body__footer .footer__column .column__socials i:hover {
  color: #DC143C;
}
.body__footer .footer__text {
  padding-left: 3rem;
  color: white;
  line-height: 2rem;
}/*# sourceMappingURL=style.css.map */